*{
    margin: 0px;
    border: 0px;
    padding: 0px;   
}

body{
    width: 100%;
    height: 100%;
}

.ipad{
    width: 768px;
    height: 1024px;
}

.iphone{
    width: 320px;
    height: 480px;
}

#section{
    margin: auto;
    position: relative;
}

#board{
    position: relative;
}

#board.iphone{
    background-image: url(../images/wood_iphone.jpg);
}

#board.ipad{
    background-image: url(../images/wood_ipad.jpg);
}
button, #timer{
    position: absolute;
    font-family: Georgia;
    font-size: 20px;
}
button{
    padding: 10px;
    border-radius: 8px;
    background-color: goldenrod;
}
#time_remaining{
    position: absolute;
    top: 5%;
    left: 5%;
}
#message{
    position: absolute;
    color: yellow;
    top: 8%;
    left: 5%;
    opacity: 0;
     -webkit-transition: opacity 1s ease-in;
     -moz-transition: opacity 1s ease-in;
     transition: opacity 1s ease-in;
}
.showmessage{
    opacity: 1 !important;
}
.hidemessage{
    opacity: 0 !important;
}
#new_game{
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
}
#give_up{
    position: absolute;
    top: 5%;
    right: 5%;
}
#clear{
    position: absolute;
    bottom: 45%;
    left: 5%;
}
#accept{
    position: absolute;
    bottom: 45%;
    right: 5%;
}
#wordlist{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40%;
    overflow: auto;
/*    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
*/}
#col_0{
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 2%;
}
#col_1{
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 3%;
}
#col_2{
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 3%;
}
.answer, .placeholder, .missed{
    font-family: Georgia;
    font-size: 12px;
    padding-bottom: 4px;
}
.answer{
    font-size: 24px;
}
.missed{
    color: red;
}
.placeholder{
    letter-spacing: .4em;
    padding-left: 10px;
}
